@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

#container {
  z-index: 1;
  height: 100vh;
}

@media only screen and (min-width: 915px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
#container {
  font-family: "Kumbh Sans", sans-serif;
}

#nav-menu {
  font-weight: 700;
}

#cart #cart-list h3 {
  color: hsl(219deg, 9%, 45%);
  font-weight: 700;
}

#product-options #company-name {
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
}
#product-options #product-name {
  font-size: 28px;
}
#product-options #product-description {
  color: hsl(219deg, 9%, 45%);
  line-height: 140%;
}
#product-options #product-price #discounted-price h1:nth-child(1) {
  font-size: 28px;
}
#product-options #product-price #discounted-price h1:nth-child(2) {
  color: hsl(26deg, 100%, 55%);
  font-size: 18px;
  background: hsl(25deg, 100%, 94%);
  padding: 3px 8px;
  border-radius: 8px;
}
#product-options #product-price #original-price {
  font-size: 16px;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
#product-options #product-action #quantity h2 {
  font-size: 16px;
}
#product-options #product-action #add-to-cart h2 {
  font-size: 16px;
}

@media only screen and (min-width: 915px) {
  #nav-menu {
    font-weight: 400;
  }
  #product-options #product-name {
    font-size: 42px;
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: black;
  transition: opacity 150ms ease, visibility 150ms ease;
  z-index: 1;
}
#overlay.active {
  visibility: visible;
  opacity: 0.75;
}

@media only screen and (min-width: 915px) {
  #overlay {
    transition: none;
  }
  #overlay.active {
    visibility: hidden;
    opacity: 0;
  }
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.arrow img {
  position: relative;
  left: -2px;
}

@media only screen and (min-width: 915px) {
  .arrow {
    display: none;
  }
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item .item-mini-pic {
  border-radius: 8px;
}
.item .item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.item .item-info p {
  color: hsl(219deg, 9%, 45%);
}
.item .item-info strong {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  height: 68px;
}
header #header__first__section {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
}
header #header__second__section {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 16px;
}
header #header__second__section img:nth-child(2) {
  height: 22px;
  width: 22px;
}

@media only screen and (min-width: 915px) {
  header {
    height: 112px;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
  }
  header #header__first__section {
    gap: 48px;
    padding-left: 0;
  }
  header #header__second__section {
    position: relative;
    gap: 48px;
    padding-right: 0;
  }
  header #header__second__section img:nth-child(2) {
    height: 50px;
    width: 50px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: border 100ms ease;
  }
  header #header__second__section img:nth-child(2):hover {
    border: 3px solid hsl(26deg, 100%, 55%);
  }
  header #header__second__section svg {
    cursor: pointer;
  }
  header #header__second__section svg > path {
    fill: hsl(219deg, 9%, 45%);
    transition: fill 100ms ease;
  }
  header #header__second__section svg:hover > path {
    fill: hsl(220deg, 13%, 13%);
  }
}
#nav-menu {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background: white;
  transition: left 150ms ease;
  padding: 26px 0 0 16px;
  gap: 18px;
  z-index: 1;
}
#nav-menu img {
  margin-bottom: 16px;
}
#nav-menu.active {
  left: 0;
}

@media only screen and (min-width: 915px) {
  #nav-menu {
    align-items: center;
    flex-flow: row;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background: transparent;
    transition: none;
    padding: 0;
    gap: 18px;
  }
  #nav-menu.active {
    left: 0;
  }
  #nav-menu p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: hsl(219deg, 9%, 45%);
    height: 100%;
    transition: color 100ms ease;
    cursor: pointer;
  }
  #nav-menu p::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
    background: hsl(26deg, 100%, 55%);
    transition: opacity 100ms ease;
  }
  #nav-menu p:hover {
    color: hsl(220deg, 13%, 13%);
  }
  #nav-menu p:hover::after {
    opacity: 1;
  }
}
#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 915px) {
  #wrapper {
    width: 77%;
    margin: 0 auto;
    min-height: 100vh;
  }
}
#product-info {
  display: flex;
  flex-flow: column;
}
#product-info #product-image #product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  overflow: hidden;
}
#product-info #product-image #product-image-container img {
  display: none;
}
#product-info #product-image #product-image-container img.active {
  display: block;
}
#product-info #product-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}
#product-info #product-options #product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product-info #product-options #product-price #discounted-price {
  display: flex;
  align-items: center;
  gap: 12px;
}
#product-info #product-options #product-action {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 327px;
  margin: 0 auto;
  max-width: 100%;
}
#product-info #product-options #product-action #quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(223deg, 64%, 98%);
  border-radius: 8px;
  padding: 18px 24px;
}
#product-info #product-options #product-action #quantity > * {
  user-select: none;
  touch-action: manipulation;
}
#product-info #product-options #product-action #add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 18px 24px;
  border-radius: 8px;
  background: hsl(26deg, 100%, 55%);
  color: white;
}

@media only screen and (min-width: 915px) {
  #product-info {
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex: 1;
  }
  #product-info #product-image {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 445px;
  }
  #product-info #product-image #product-image-container {
    height: 444px;
    width: 445px;
  }
  #product-info #product-image #product-image-container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: none;
  }
  #product-info #product-image #product-image-container img.active {
    display: block;
  }
  #product-info #product-image #product-image-selection {
    display: flex;
    justify-content: space-between;
  }
  #product-info #product-image #product-image-selection img {
    width: 88px;
    border-radius: 8px;
    transition: opacity 100ms ease, border 100ms ease;
    cursor: pointer;
  }
  #product-info #product-image #product-image-selection img.active {
    opacity: 0.5;
    border: solid red;
  }
  #product-info #product-options {
    max-width: 50ch;
  }
  #product-info #product-options #product-price {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  #product-info #product-options #product-action {
    flex-direction: row;
    width: auto;
    max-width: none;
    margin: 0;
  }
  #product-info #product-options #product-action #quantity {
    width: 35%;
    padding: 18px;
  }
  #product-info #product-options #product-action #quantity img {
    cursor: pointer;
    transition: opacity 150ms ease;
  }
  #product-info #product-options #product-action #quantity img:hover {
    opacity: 0.6;
  }
  #product-info #product-options #product-action #add-to-cart {
    width: 65%;
    transition: opacity 150ms ease;
    cursor: pointer;
  }
  #product-info #product-options #product-action #add-to-cart:hover {
    opacity: 0.6;
  }
}
#product-image-container-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

#cart {
  position: absolute;
  top: 70px;
  left: 50%;
  right: 0;
  background: white;
  max-width: 100%;
  width: 356.25px;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 16px 28px 2px hsl(0deg, 0%, 49%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease, top 150ms ease, visibility 150ms ease;
}
#cart #cart-title-container {
  padding: 33.5px 30px;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
#cart #cart-list {
  padding: 20px;
}
#cart.active {
  top: 75px;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 915px) {
  #cart {
    max-width: none;
    width: 360px;
    left: 30%;
  }
  #cart.active {
    top: 85px;
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=main.css.map */
