$very-dark-blue: hsl(220, 13%, 13%);

$grayish-blue: (
    "normal": hsl(220, 14%, 75%),
    "light" : hsl(223, 64%, 98%),
    "dark" : hsl(219, 9%, 45%)
);

$orange: (
    "normal" : hsl(26, 100%, 55%),
    "pale" : hsl(25, 100%, 94%)
);