@import '../abstracts/mixins';
@import '../abstracts/colors';
#cart
{
    position: absolute;
    top: 70px;
    left: 50%;
    right: 0;
    background: white;
    width: 95%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 16px 28px 2px hsl(0, 0%, 49%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease, top 150ms ease, visibility 150ms ease;
    
    #cart-title-container
    {
        padding: 33.5px 30px;
        border-bottom: 1px solid map-get($grayish-blue, "normal");
    }

    #cart-list
    {
        @include center;
        min-height: 188px;
    }

    &.active
    {
        top: 75px;
        opacity: 1;
        visibility: visible;
    }
}