@import '../abstracts/mixins';
@import '../abstracts/colors';
#cart
{
    position: absolute;
    top: 70px;
    left: 50%;
    right: 0;
    background: white;
    max-width: 100%;
    width: 356.25px;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 16px 28px 2px hsl(0, 0%, 49%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease, top 150ms ease, visibility 150ms ease;
    
    #cart-title-container
    {
        padding: 33.5px 30px;
        border-bottom: 1px solid map-get($grayish-blue, "normal");
    }

    #cart-list
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 20px;
        height: 188px;

        #cart-empty
        {
            display: block;
            &.active
            {
                display: none;
            }
        }
    }

    &.active
    {
        top: 75px;
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (min-width: 915px)
{
    #cart
    {
        max-width: none;
        width: 360px;
        left: 30%;
        &.active
        {
            top: 85px;
            opacity: 1;
            visibility: visible;
        }
    }
}

