@import '../abstracts/colors';
header
{
    display: flex;
    justify-content: space-between;
    height: 68px;

    #header__first__section
    {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 16px;
    }

    #header__second__section
    {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-right: 16px;

        img:nth-child(2)
        {
            height: 22px;
            width: 22px;
        }
    }
}

@media only screen and (min-width: 915px)
{
    header
    {
        height: 112px;
        border-bottom: 1px solid map-get($grayish-blue, "normal");

        #header__first__section
        {
            gap: 48px;
            padding-left: 0;
        }

        #header__second__section
        {
            gap: 48px;
            padding-right: 0;

            img:nth-child(2)
            {
                height: 50px;
                width: 50px;
            }
        }
    }
}