@import '../abstracts/mixins';

#lightbox
{
    display: none;
}

@media only screen and (min-width: 916px)
{
    #lightbox
    {
        display: none;
        @include center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        transition: visibility 100ms ease, opacity 100ms ease;
    
        #lightbox-content-wrapper
        {
            display: flex;
            flex-direction: column;
            gap: 12px;
    
            #lightbox-svg-wrapper
            {
                display: flex;
                justify-content: flex-end;
                position: relative;
                height: 40px;
    
                #lightbox-svg-container
                {
                    height: 40px;
                    width: 39px;
                    position: absolute;
                    right: -15px;
                    top: 0;
    
                    svg
                    {
                        color: white;
                        transition: color 100ms ease;
                        cursor: pointer;
                        &:hover{color: map-get($orange, "normal");}
                    }
                }
            }
    
            #lightbox-image-selection
            {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin-top: 24px;
                
                > *
                {
                    height: 88px;
                    width: 88px;
                    border-radius: 8px;
                    position: relative;
                    cursor: pointer;
    
                    &.active
                    {
                        .lightbox-image-overlay
                        {
                            opacity: 0.5;
                        }
    
                        img{border: solid red;}
                    }

                    &:hover{.lightbox-image-overlay{opacity: 0.6;}}
    
                    .lightbox-image-overlay
                    {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: white;
                        opacity: 0;
                        border-radius: 8px;
                        transition: opacity 100ms ease;
                    }
    
                    img
                    {
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                    }
                }
            }
    
            #lightbox-image-container
            {
                position: relative;
                user-select: none;
                .lightbox-image
                {
                    border-radius: 16px;
                    display: none;

                    &.active
                    {
                        display: block;
                    }
                }

                #lightbox-arrows
                {
                    @include center;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 110%;
                    height: 100%;

                    .arrow
                    {
                        cursor: pointer;
                        svg{transition: color 100ms ease;}
                        &:hover svg{color: map-get($orange, 'normal');}
                    }
                }
            }
        }
    }
}