@import '../abstracts/mixins';
#product-info
{
    display: flex;
    flex-flow: column;

    #product-image
    {
        > *{
            touch-action: manipulation;
            > *{
                touch-action: manipulation;
                > *{
                    touch-action: manipulation;
                }
            }
        }
        #product-image-container
        {
            @include center;
            position: relative;
            height: 300px;
            overflow: hidden;

            img
            {
                display: none;
                &.active
                {
                    display: block;
                }
            }
        }
    }

    #product-options
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;

        #product-price
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #discounted-price
            {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        #product-action
        {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 327px;
            // height: 56px;
            margin: 0 auto;
            max-width: 100%;

            #quantity
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: map-get($grayish-blue, "light");
                border-radius: 8px;
                padding: 18px 24px;

                > *{
                    user-select: none;
                    touch-action: manipulation;
                }
            }

            #add-to-cart
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 18px 24px;
                border-radius: 8px;
                background: map-get($orange, "normal");
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 915px)
{
    #product-info
    {
        justify-content: space-around;
        align-items: center;
        flex-flow: row;
        flex: 1;
        #product-image
        {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 445px;
            #product-image-container
            {
                height: 444px;
                width: 445px;
                img
                {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    display: none;
                    &.active
                    {
                        display: block;
                    }
                }

                #product-image-wrapper
                {
                    cursor: pointer;
                }
            }

            #product-image-selection
            {
                display: flex;
                justify-content: space-between;

                img{
                    width: 88px;
                    border-radius: 8px;
                    transition: opacity 100ms ease, border 100ms ease;
                    cursor: pointer;

                    &.active
                    {
                        opacity: 0.5;
                        border: solid red;
                    }

                    &:hover
                    {
                        opacity: 0.6;
                    }
                }
            }
        }

        #product-options
        {
            max-width: 50ch;

            #product-price
            {
                align-items: flex-start;
                flex-direction: column;
                gap: 8px;
            }

            #product-action
            {
                flex-direction: row;
                width: auto;
                max-width: none;
                margin: 0;

                #quantity
                {
                    width: 35%;
                    padding: 18px;

                    img
                    {
                        cursor: pointer;
                        transition: opacity 150ms ease;
                        &:hover
                        {
                            opacity: 0.6;
                        }
                    }
                }

                #add-to-cart
                {
                    width: 65%;
                    transition: opacity 150ms ease, box-shadow 150ms ease;
                    cursor: pointer;

                    &:hover
                    {
                        opacity: 0.6;
                        box-shadow: 0 8px 12px 4px map-get($orange, "pale")
                    }
                }
            }
        }
    }
}