@import '../abstracts/mixins';
#product-info
{
    display: flex;
    flex-flow: column;
    #product-image
    {
        #product-image-container
        {
            @include center;
            position: relative;
            height: 300px;
            overflow: hidden;
        }
    }

    #product-options
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;

        #product-price
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            #discounted-price
            {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        #product-action
        {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 327px;
            // height: 56px;
            margin: 0 auto;

            #quantity
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: map-get($grayish-blue, "light");
                border-radius: 8px;
                padding: 18px 24px;
            }

            #add-to-cart
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 18px 24px;
                border-radius: 8px;
                background: map-get($orange, "normal");
                color: white;
            }
        }
    }
}