@import '../abstracts/mixins';
.arrow
{
    @include center;
    position: relative;
    background: white;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    touch-action: manipulation;
    img{
        position: relative;
        left: -2px;
    }
}

@media only screen and (min-width: 915px)
{
    .arrow
    {
        display: none;
    }

    #lightbox-arrows
    {
        .arrow
        {
            @include center;
            position: relative;
            background: white;
            // padding: 8px;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            svg{
                position: relative;
                left: -2px;
            }
        }
    }
}