@import '../abstracts/colors';
.item
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 8px;
    
    .item-mini-pic
    {
        border-radius: 8px;
    }

    .item-info
    {
        display: flex;
        flex-direction: column;
        gap: 4px;

        p{
            color: map-get($grayish-blue, 'dark');
        }
        
        strong{
            color: black;
        }
    }
}