*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile{display: block;}
.desktop{display: none;}

#container
{
    z-index: 1;
}

@media only screen and (min-width: 915px)
{
    .mobile{display: none;}
    .desktop{display: block;}
}